/* Place project-specific CSS here */

body {
    font-family: Georgia, "Open Sans", Arial, "sans-serif";
    background-color: lightgrey;
    margin: 20px;

    
}

/*  titlePage {
    text-align: center;
    
}*/